<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mes projets</title>
    <link rel="stylesheet" href="../output.css">
</head>

<body class="bg-amber-50 text-gray-800">

    <!-- NAVBAR -->
    <header class="bg-gray-700 text-white">
        <nav class="flex justify-between items-center px-8 py-4">
            <h1 class="text-2xl font-medium text-amber-400">folio.Binetuuu</h1>

            <div class="flex gap-6">
                <a href="index.html" class="hover:text-amber-400">Accueil</a>
                <a href="lister-projet.html" class="hover:text-amber-400">Projets</a>
                <a href="ajouter.html" class="hover:text-amber-400">Ajouter</a>
                <a href="contact.html" class="hover:text-amber-400">Contact</a>
            </div>
        </nav>
    </header>

    <!-- TITRE -->
    <section class="text-center py-12">
        <h2 class="text-4xl font-bold mb-4">Mes projets</h2>
        <a href="ajouter.html" class="bg-amber-400 text-white px-6 py-2  hover:bg-amber-200 rounded-3xl">
            + Ajouter un projet
        </a>
    </section>

    <!-- LISTE DES PROJETS -->
    <section class="px-6 pb-20">
        <div class="grid md:grid-cols-3 gap-6">

            <!-- PROJET 1 -->
            <article class="bg-white rounded-lg shadow p-4 max-w-sm">

                <!-- IMAGE -->
                <img src="../assets/imc.jpg"
                    alt="Aperçu Site E-commerce" class="w-full h-48 object-cover rounded mb-4">

                <!-- TITRE -->
                <div class="mb-4">
                    <h3 class="text-xl font-bold mb-1">
                        Calculateur d’IMC interactif
                    </h3>
                    <p class="text-gray-500 text-sm">
                        Ajouté le 28 decembre 2024
                    </p>
                </div>

                <!-- ACTIONS -->
                <div class="flex justify-between items-center">

                    <a href="first-project-details.html"
                        class="bg-amber-400 text-white px-6 py-2 rounded-2xl hover:bg-amber-200 text-sm">
                        Voir détails
                    </a>

                    <button class="bg-red-500 text-white px-6 py-2 rounded-2xl hover:bg-red-700 text-sm">
                        Supprimer
                    </button>

                </div>

            </article>
             <article class="bg-white rounded-lg shadow p-4 max-w-sm">

                <!-- IMAGE -->
                <img src="../assets/cicd.jpg"
                    alt="Aperçu Site E-commerce" class="w-full h-48 object-cover rounded mb-4">

                <!-- TITRE -->
                <div class="mb-4">
                    <h3 class="text-xl font-bold mb-1">
                        Mise en place d’un pipeline CI/CD pour une application CRUD sous linux
                    </h3>
                    <p class="text-gray-500 text-sm">
                        Ajouté le 27 avril 2025
                    </p>
                </div>

                <!-- ACTIONS -->
                <div class="flex justify-between items-center">

                    <a href="first-project-details.html"
                        class="bg-amber-400 text-white px-6 py-2 rounded-2xl hover:bg-amber-200 text-sm">
                        Voir détails
                    </a>

                    <button class="bg-red-500 text-white px-6 py-2 rounded-2xl hover:bg-red-700 text-sm">
                        Supprimer
                    </button>

                </div>

            </article>

            <!-- PROJET 3 -->
            <article class="bg-white rounded-lg shadow p-4 max-w-sm">
                <img src="../assets/computer-vision.jpg" class="w-full h-48 object-cover rounded mb-4">

                <h3 class="text-xl font-bold mb-2">
                    <a href="detailler-projet.html">Système de reconnaissance d’objets en temps réel avec pipeline MLOps</a>
                </h3>

                <p class="text-gray-500 text-sm mb-4">
                    Ajouté le 17 decembre 2025
                </p>

                <div class="flex justify-between">
                    <a href="detailler-projet.html"
                        class="bg-amber-400 text-white px-4 py-2 rounded-2xl hover:bg-amber-200 text-sm">
                        Voir détails
                    </a>

                    <button class="bg-red-500 text-white px-4 py-2 rounded-2xl hover:bg-red-700 text-sm">
                        Supprimer
                    </button>
                </div>
            </article>

            <article class="bg-white rounded-lg shadow p-4 max-w-sm">
                <img src="../assets/data-analyts.jpg" class="w-full h-48 object-cover rounded mb-4">

                <h3 class="text-xl font-bold mb-2">
                    <a href="detailler-projet.html">Analyse de données et création de dashboards décisionnels</a>
                </h3>

                <p class="text-gray-500 text-sm mb-4">
                    Ajouté le 02 Aout 2025
                </p>

                <div class="flex justify-between">
                    <a href="detailler-projet.html"
                        class="bg-amber-400 text-white px-4 py-2 rounded-2xl hover:bg-amber-200 text-sm">
                        Voir détails
                    </a>

                    <button class="bg-red-500 text-white px-4 py-2 rounded-2xl hover:bg-red-700 text-sm">
                        Supprimer
                    </button>
                </div>
            </article>
            

            <article class="bg-white rounded-lg shadow p-4 max-w-sm">
                <img src="../assets/aws.jpg" class="w-full h-48 object-cover rounded mb-4">

                <h3 class="text-xl font-bold mb-2">
                    <a href="detailler-projet.html">Architecture cloud avec réseau privé/public sur AWS</a>
                </h3>

                <p class="text-gray-500 text-sm mb-4">
                    Ajouté le 13 mars 2026
                </p>

                <div class="flex justify-between">
                    <a href="detailler-projet.html"
                        class="bg-amber-400 text-white px-4 py-2 rounded-2xl hover:bg-amber-200 text-sm">
                        Voir détails
                    </a>

                    <button class="bg-red-500 text-white px-4 py-2 rounded-2xl hover:bg-red-700 text-sm">
                        Supprimer
                    </button>
                </div>
            </article>

        </div>
    </section>

    <!-- FOOTER -->
    <footer class="bg-gray-800 text-white text-center py-6">
        <p>© 2026 Mon Portfolio</p>
    </footer>

</body>

</html>